nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.nav-bar-right,
.cart-container {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-bar-right button {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}
.nav-bar-right button:hover {
  color: var(--hover-state);
}

.navbar-cart-number {
  position: absolute;
  background-color: var(--confirm-button);
  /* right: -0.25rem; */
  right: 0;
  /* bottom: 0; */
  top: -0.4rem;
  font-size: 0.75rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  text-align: center;
}

.navbar-cart-number {
  display: none;
}

@media (min-width: 768px) {
  .navbar-cart-number {
    display: inline;
  }
}
