.App {
  overflow: hidden;
  position: relative;
  /* height: 100vh; */
  color: var(--primary-text);
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding-inline: 1rem;
}

.cart-list-img {
  width: 100px;
}

.login-container {
  display: grid;
  justify-content: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 1rem;
}
.login-form div {
  display: flex;
  flex-direction: column;
}
.forgetpassword {
  text-align: end;
}

nav,
.footing-container,
.container {
  margin: 0 auto;
}
/* mobile breakpoint: 320px — 480px */
@media screen and (max-width: 768px) {
  .container,
  .footing-container {
    max-width: 400px;
  }
}

/* tablet breakpoint: 481px — 768px */
@media screen and (min-width: 768px) {
  .container,
  .footing-container {
    max-width: 767px;
  }
}

/* small desktop breakpoints 769px — 1024px */
@media screen and (min-width: 1024px) {
  .container,
  .footing-container {
    max-width: 800px;
  }
}

/* large desktop breakpoints 1025px — 1200px*/
@media screen and (min-width: 1200px) {
  .container,
  .footing-container {
    max-width: 1000px;
  }
}
