:root {
  line-height: 1.5;
  font-weight: 400;
  --background-color: #fff8f1;
  --background-accent: #fce8d5;
  --background-accent-transparent: hsla(29, 87%, 91%, 0.5);
  --primary-text: #4a2e2b;
  --secondary-text: #7a5c50;
  /* --button: #f6afa9; */
  --button: #feebcb;
  /* --hover-state: #feebcb; */
  --hover-state: #f6afa9;
  --active-state: #e89a94;
  --confirm-button: #b4d7a8;
  --reject-button: #e62315;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --border-radius: 16px;
  --employee-navbar-small-height: 68px;
  --employee-navbar-large-height: 108px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    line-height: 1.5;
    font-weight: 400;
    --background-color: black;
    --background-accent: black;
    --background-accent-transparent: hsla(29, 87%, 91%, 0.5);
    --primary-text: white;
    --secondary-text: white;
    --button: #feebcb;
    --hover-state: #f6afa9;
    --active-state: #e89a94;
    --confirm-button: #b4d7a8;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --border-radius: 16px;
    --employee-navbar-small-height: 68px;
    --employee-navbar-large-height: 108px;
  }
} */

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--background-color);
}

a {
  color: var(--primary-text);
  text-decoration: none;
}

a:hover {
  color: var(--hover-state);
}

button {
  user-select: none;
}

.main-button {
  background-color: var(--secondary-text);
  border-radius: var(--border-radius);
  border-color: transparent;
  color: var(--background-accent);
}

.secondary-button {
  background-color: var(--button);
  border-radius: var(--border-radius);
  border-color: transparent;
  color: var(--primary-text);
}

.confirm-button {
  background-color: var(--confirm-button);
  border-radius: 10px;
  border-color: transparent;
  color: var(--primary-text);
}
.reject-button {
  background-color: var(--reject-button);
  color: var(--background-color);
  border-radius: 10px;
  border-color: transparent;
}

.main-button,
.secondary-button,
.confirm-button,
.reject-button {
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.main-button:active,
.secondary-button:active,
.confirm-button:active,
.reject-button:active {
  background-color: var(--active-state);
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: var(--primary-text);
}

.main-button:hover,
.secondary-button:hover,
.confirm-button:hover,
.reject-button:hover {
  background-color: var(--hover-state);
  color: var(--primary-text);
  cursor: pointer;
  /* transform: translateY(-2px); */
}

.main-button:active:hover,
.main-button:focus:hover,
.main-button:focus,
.secondary-button:active:hover,
.secondary-button:focus:hover,
.secondary-button:focus,
.confirm-button:active:hover,
.confirm-button:focus:hover,
.confirm-button:focus,
.reject-button:active:hover,
.reject-button:focus:hover,
.reject-button:focus {
  background-color: var(--hover-state);
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: var(--primary-text);
}

.font-42 {
  font-size: 4.2rem;
}
.line-2 {
  line-height: 2rem;
}
.margin-bottom-2 {
  margin-bottom: 2rem;
}

.margin-top-1 {
  margin-top: 1rem;
}

.padding-point-5 {
  padding: 0.5rem;
}

.padding-1 {
  padding: 1rem;
}

.disable-button:hover {
  background-color: var(--button);
  cursor: not-allowed;
}

.border-radius-input {
  border: 1px solid var(--primary-text);
  border-radius: 5px;
}
.border-radius-button {
  border-radius: 5px;
}

.text-color-green {
  color: var(--confirm-button);
}

.text-color-secondary {
  color: var(--secondary-text);
}

.text-uppercase {
  text-transform: uppercase;
}

.flex-gap-0-25 {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.flex-gap-1 {
  display: flex;
  gap: 1rem;
  align-items: center;
}

img {
  border-radius: var(--border-radius);
}

.margin-right-point-5 {
  margin-right: 0.5rem;
}

.margin-block-2 {
  margin-block: 2rem;
}

textarea {
  border-radius: 5px;
}

input,
textarea {
  text-indent: 0.25rem;
}

.cursor-pointer {
  cursor: pointer;
}
