.customer-search-form {
  display: grid;
  gap: 1rem;
}

.customer-search-form input {
  min-width: 400px;
}

.customer-search-non-advance {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.customer-search-result {
  display: grid;
  gap: 1rem;
  border: 5px dotted var(--background-accent);
  border-radius: var(--border-radius);
  margin: 1rem;
  padding: 1rem;
}

.customer-search-result span {
  font-weight: bold;
}

.customer-search-result div {
  /* background-color: var(--background-accent-transparent); */
  padding: 0.5rem;
}

.cusotmer-search-result-button-group {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.cusotmer-search-result-button-group a {
  width: 100%;
  max-width: 200px;
}

@media screen and (max-width: 768px) {
  .customer-search-button-group {
    /* justify-content: end; */
    margin-right: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .customer-search-non-advance {
    gap: 0.25rem;
    flex-direction: row;
  }
}
