.question-wrapper .dropdown {
  border: 1px solid var(--background-accent);
  margin: 1rem;
  border-radius: var(--border-radius);
  /* border-radius: var(--border-radius) var(--border-radius) 0 0; */
}
.question-wrapper .dropdown-toggle {
  cursor: pointer;
  /* background-color: var(--background-accent); */
  padding: 1rem;
  border-radius: var(--border-radius);
  /* border-radius: var(--border-radius) var(--border-radius) 0 0; */
}
.question-wrapper .dropdown-item {
  padding: 1rem;
  /* border-radius: var(--border-radius) var(--border-radius) 0 0; */
  margin-left: 1rem;
}
