.cart-list-img-container {
  position: relative;
}
.cart-list-img-container .qty {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--active-state);
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  z-index: 1;
}
.order-confirmation-li-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.order-confirmation-item-info {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
